@{
    Layout = "~/Views/Shared/_PamanaLayout.cshtml";
}

@{
    Layout = "~/Views/Shared/_LoggedInPamana.cshtml";
}




<div>
    <div class="row">
        <div class="col s6 m6 l6" id="about1">
            <p class="inter-bold">Welcome to</p>
            <img src="~/Content/PAMANAcrop.png" width="260px" />
            <p class="inter-light">
                <span id="aboutContHead">
                    Where food is not just a<br />
                    meal—it’s an experience!<br />
                </span>
                <br />
                <span id="aboutCont1">
                    Founded in 2024, PAMANA was born from a<br />
                    passion for authentic Filipino cuisine passed down through<br />
                    generations. What began as a small family venture has<br />
                    grown into a beloved local dining destination.<br />

                    At PAMANA, we are dedicated to delivering quality<br />
                    food that not only satisfies your cravings but also nourishes<br />
                    your soul. Our goal is to provide every customer with<br />
                    a premium dining experience, where every meal is a<br />
                    celebration of flavor, freshness, and passion.<br />

                    We believe that great food should be accessible to<br />
                    everyone. That’s why we strive to create an environment<br />
                    where people from all walks of life can come together,<br />
                    enjoy exceptional dishes, and make lasting memories.<br />
                    Whether you're here for a casual meal or a special occasion,<br />
                    our team is committed to giving you the best experience<br />
                    possible—one delicious bite at a time.<br />

                    We look forward to welcoming you and making<br />
                    your next meal an unforgettable one.<br />
                </span>

            </p>
        </div>
        <div class="col s6 m6 l6" id="about1">
            <br />
            <br />
            <br />
            <div class="row" style="margin-bottom: unset;">
                <div class="col s6 m6 l6">
                    <img id="aboutPic1" src="~/Content/unsplash_-eKZLpj7U0E.png" />
                </div>
                <div class="col s6 m6 l6"></div>
            </div>
            <div class="row">
                <div class="col s6 m6 l6">
                </div>
                <div class="col s6 m6 l6">
                    <img id="aboutPic2" src="~/Content/unsplash_poI7DelFiVA.png" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" id="aboutEme">
        <div class="col s12 m12 l12">
            <p id="aboutEmeText">
                <span style="font-weight: bold; color: red">PAMANA</span> is a Filipino word that means "heritage" or "legacy."<br />
                The name reflects the essence of Filipino culture and the restaurant’s<br />
                commitment to preserving authentic Filipino cuisine. Choosing PAMANA<br />
                honors the generations of tradition and culinary knowledge passed down through<br />
                the family, emphasizing that the dishes are more than just food—they’re part of a<br />
                legacy.<br />
                <br />
                The restaurant’s story captures this concept beautifully: what started as a small<br />
                family venture has grown into a beloved destination, maintaining the integrity<br />
                of Filipino flavors while also welcoming diverse communities to enjoy these rich,<br />
                soulful meals. PAMANA, therefore, symbolizes a deep respect for Filipino heritage<br />
                and the joy of sharing it with others, making every meal a celebration of culture, flavor,<br />
                and togetherness.<br />
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col s3 m3 l3"></div>
        <div class="col s6 m6 l6" style="text-align: center">
            <hr />

            <h4 style="font-weight:bold">Meet the Founders</h4>
            <br />
            <br />
            <div class="row">
                <div class="col s6 m6 l6">
                    <img id="imgFounder" src="~/Content/ninong_ry.jpg" />
                    <br />
                    <span id="foundName">Ryan Regulacion</span>
                    <br />
                    <span>Founder</span>
                </div>
                <div class="col s6 m6 l6">
                    <img id="imgFounder" src="~/Content/malupiton.jpg" />
                    <br />
                    <span id="foundName">Michael Owen Trinidad</span>
                    <br />
                    <span>Co-Founder</span>
                </div>
            </div>
        </div>
        <div class="col s3 m3 l3"></div>
    </div>
</div>