@{
    Layout = "~/Views/Shared/_LoggedInPamana.cshtml";
}


<div class="row">
    <div class="col s12 m12 l12" id="announceHead">
        <div class="row" >
            <div class="s12 m12 l12">
                <h2 style="font-weight: bold; color:white; padding-top: 100px; padding-bottom: 100px;">Announcements and Updates</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4 m4 l4">
        <img src="~/Content/Meal-Transparent-Images 1.png" />
    </div>
    <div class="col s8 m8 l8 center-align" style="align-items: center; margin-top: 150px;">
        <span><span id="save">SAVE 5%</span><br /><span id="saveCont"><span style="margin-left: 220px;">if you reserve your table through the <span style="font-weight: bold;">PAMANA</span> website.</span></span></span>
        <div class="left-align" style="margin-left: 250px; margin-top: 30px; ">
            <a id="loginbutton" class="waves-effect waves-light btn" style="width: 150px; font-weight: bold;">Reserve Now</a>
        </div>
    </div>
    
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col s4 m4 l4"></div>
    <div class="col s4 m4 l4"><hr /></div>
    <div class="col s4 m4 l4"></div>
</div>

<div class="row" >
    <div class="col s4 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12" style="padding: 60px;">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/resto.jpg">
                        
                    </div>
                    <div class="card-content">
                        <span class="card-title">Card Title</span>
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col s4 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12" style="padding: 60px;">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/puds.jpg">
                        
                    </div>
                    <div class="card-content">
                        <span class="card-title">Card Title</span>
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col s4 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12" style="padding: 60px;">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/sosyal.jpg">
                        
                    </div>
                    <div class="card-content">
                        <span class="card-title">Card Title</span>
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>