@{
    Layout = "~/Views/Shared/_LoggedInPamana.cshtml";
}

<div id="modalChangePic" class="modal" style="width: 400px; border-radius: 10px">
    <div class="modal-content" style="padding-bottom: 0px;">
        <h5 class="icon-text inter-bold" style="margin: unset; margin-bottom: 10px;"><i class="material-icons" style="margin: unset; margin-right: 5px">attach_file</i>Upload Profile Picture</h5>
        <hr />
        <div class="file-upload">
            <img id="image-preview" class="preview" src="#" height="350" width="350">
            <input id="file-input" type="file" accept="image/*" style="display: none;">
            <br />
            <label for="file-input" class="btn" style="background-color: #2B2B2B">Upload Image</label><br />
        </div>
    </div>
    <div class="modal-footer" style="padding-right:25px">
        <a id="modalButton2" class="modal-close waves-effect waves-green">Cancel</a>
        <a id="modalButton1" class="modal-close waves-effect waves-green">Save</a>
    </div>
</div>

<div class="row" style="padding: 60px; ">
    <div class="col s12 m12">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content black-text">
                        <span class="card-title" id="accHead">Edit Account</span>
                        <hr />
                        <div class="row" style="margin: 30px; margin-left: 0px; margin-right: 0px;">
                            <div class="col s2 m2 l2" style="width: 150px;">
                                <img id="profuserIcon" src="~/Content/malupiton.jpg" />
                                <a href="#modalChangePic" class="icon-text modal-trigger inter-bold" data-target="modalChangePic" style="font-size: 10px; margin-left: 5px; color: red"><i class="material-icons" style="margin: unset; font-size: 13px; color: red;">attach_file</i>Upload Profile Picture</a>
                            </div>
                                <div class="col s6 m6 l6" style="margin-right: 70px;">
                                    <br />
                                    <h5 style="font-weight: bold">Boss Oweing</h5>
                                    <p style="color: grey">ohwhenwhen@dat.com</p>
                                </div>
                                <div class="col s4 m4 l4">
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col s6 m6 l6 center-align">
                                            <a href="@Url.Action("Account", "Home") " id="bookNow" class="waves-effect waves-light btn">Save Changes</a>
                                        </div>
                                        <div class="col s6 m6 l6 center-align">
                                            <a href="@Url.Action("Account", "Home") " id="bookNow" class="waves-effect waves-light btn" style="background-color: #2B2B2B">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col s6 m6 l6">
                                <div class="input-field rounded-input col s12 m12 l12">
                                    <input placeholder=" " id="first_name" type="text" class="validate">
                                    <label style="font-size: 18px; font-weight:700; color: black;" for="first_name">First Name</label>
                                </div>
                            </div>

                            <div class="col s6 m6 l6">
                                <div class="input-field rounded-input col s12 m12 l12">
                                    <input placeholder=" " id="first_name" type="text" class="validate">
                                    <label style="font-size: 18px; font-weight:700; color: black" for="first_name">Last Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6 l6">
                                <div class="input-field rounded-input col s12 m12 l12">
                                    <input placeholder=" " id="first_name" type="text" class="validate">
                                    <label style="font-size: 18px; font-weight:700; color: black" for="first_name">Email</label>
                                </div>
                            </div>

                            <div class="col s6 m6 l6">
                                <div class="input-field rounded-input col s12 m12 l12">
                                    <input placeholder=" " id="first_name" type="text" class="validate">
                                    <label style="font-size: 18px; font-weight:700; color: black" for="first_name">Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6 l6">
                                <div class="input-field rounded-input col s12 m12 l12">
                                    <input placeholder=" " id="first_name" type="text" class="validate">
                                    <label style="font-size: 18px; font-weight:700; color: black" for="first_name">Mobile Number</label>
                                </div>
                            </div>
                            <div class="col s6 m6 l6">
                                <div class="input-field rounded-input col s12 m12 l12">
                                    <input placeholder=" " id="first_name" type="text" class="validate">
                                    <label style="font-size: 18px; font-weight:700; color: black" for="first_name">Confirm Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

